/* App.css */
.unicorns-container {
  margin: 20px;
}

.unicorns-container h2 {
  text-align: center;
  color: #333;
}

.p-button {
  margin: 5px;
}

.p-mr-2 {
  margin-right: 10px;
}

/* Estilo del DataTable */
.p-datatable {
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
